<h1>Editing condition</h1>

<%= render "form", condition: @condition %>

<br>

<div>
  <%= link_to "Show this condition", @condition %> |
  <%= link_to "Back to conditions", conditions_path %>
</div>
