
    <div class="message" data-user-id="<%= message.user.id %>">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div>
            <div class="message_author">
                <%= message.user.email %>
            </div>
            <div class="message_timestamp">
                <%= message.created_at.strftime("%H:%M:%S") %>
          </div>
        </div>
        
        </div>
        <div class="card-body">
          <%= message.body %>
        </div>
      </div>
    </div>