<div id="<%= dom_id pickup %>">
  <p>
    <strong>Donator:</strong>
    <%= pickup.donator_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= pickup.receiver_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= pickup.item_id %>
  </p>

</div>
