<div id="<%= dom_id request %>">
  <p>
  <strong>Donor:</strong>
  <%= link_to "#{request.item.user.first} #{request.item.user.last}", user_donor_path(request.item.user) %>
  </p>

  <p>
    <strong>Item Description:</strong>
    <%= request.item.description %>
  </p>

</div>