<div id="<%= dom_id request %>">
  <p>
    <strong>Donator:</strong>
    <%= request.donator_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= request.receiver_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= request.item_id %>
  </p>

</div>
