<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <% Type.all.each do |type| %>
      <%= link_to "View " + type.name, items_by_type_path(type: type.name), class: "nav-link" %>
    <% end %>
  </nav>
  <%= render "filter" %>
  <div class="row">
    <% @items.each do |item| %>
      <% if item.status.name == "Available" %>
        <div class="col-md-3 mb-3">
          <div class="card">
            <div class="card-body">
              <%= render item %>
              <p class="card-text">
                <%= link_to "Show this item", item, class: "btn btn-primary" %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
